@charset "utf-8";/* product_detail style start */
.g-detail{margin-top:10px}
.g-detail .uc_title label.current,.g-detail .uc_title label:hover{background: url("../img/www/detail_ico2.png") right -194px no-repeat;color:#fff;font-size:17px;}
.g-detail .uc_title label:hover span{color:#fff;}

#joinCartAnimate{ /* display:none; */ position: fixed;left: 0px;top: 0px; width:60px; height:60px; z-index: 105;}