<!DOCTYPE html>
{set:
$siteConfig=new Config('site_config');
}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{echo:$siteConfig->name}</title>
	<meta http-equiv="x-dns-prefetch-control" content="on"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="applicable-device" content="mobile">
	<link rel="stylesheet" href="{www:css/bootstrap.css}">
	<style>
		body img{max-width: 100%;}
		ul{margin:0; padding:0;}
		li,p{text-indent: 2em;}
		li{list-style: none;}
	</style>
</head>
<body>
<div class="container-fluid" style="max-width: 540px; margin: 0 auto;">
	{viewcontent}
</div>

</body>
</html>